:root{
    --header-bc: yellow;
    --sidebar-bc: blue;
    --main-bc: rgb(245, 209, 209);
}

body{
    height: 100vh;
    margin: 0;
}

.container{
    display: grid;
    grid-template: 1fr 5fr / minmax(250px, 1fr) 4fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";
    height: 100%;
}

/* .header,
.sidebar,
.main-content{
    border: 1px solid black;
} */

.header{
    grid-area: header;
    display: grid;
    grid-template: 0.5fr 1fr / 1fr;
    grid-template-areas: 
        "header-top"
        "header-bottom";
    background-color: var(--header-bc);
}

.header-top,
.header-bottom{
    border: 1px dashed red;
}

.header-top{
    grid-area: header-top;
}

.header-bottom{
    grid-area: header-bottom;
}

.sidebar{
    grid-area: sidebar;
    background-color: var(--sidebar-bc);
}

.main-content{
    grid-area: main;
    background-color: var(--main-bc);
}