@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;1,200&display=swap');
:root{
    --guide-border: 1px solid black 0;
    --page-bg-color: #EEEEEE;
    --header-bg-color: white;
    --sidebar-bg-color: #222831;
    --project-bg-color: #ccfbf1;
    --feed-bg-color: #f0fdfa;
    --announcment-panel-bg-color: #14b8a6;
    --trending-panel-bg-color: #14b8a6;

    --button-color: #393E46;

    --project-card-border-color: 1rem solid #393E46;

    --profile-fontsize: large;
    --greeting-fontsize: smaller;
    --greeting-username-fontsize: larger;
    --sidebar-title-fontsize: 1.5rem;
    --side-bar-items-fontsize: 1rem;
   /*  --project-page-heading-fontsize: 1.5rem; */
    --project-title-fontsize: 1rem;
    --project-summary-fontsize: 1rem;
    /* --announcements-heading-fontsize: 1.5rem; */
    /* --announcement-title-fontsize: 1rem; */
    --announcement-summary-fontsize: small;
    /* --trending-heading-fontsize: 1.5rem; */
  /*   --trending-username-fontsize: 1rem; */
    --trending-summary-fontsize: small;
}

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    margin: 0;
    font-family: 'Karla', sans-serif;
}

.container{
    display: grid;
    grid-template: 1fr 5fr / minmax(250px, 1fr) 4fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";
    height: 100%;
    background-color: var(--page-bg-color);
}

.search-bar img,
.notifications .bell-icon,
.interactable{
    width: 2rem;
    height: 2rem;
}

.profile-icon:hover,
.large-profile-icon:hover,
.bell-icon:hover,
.search-bar img:hover,
.username:hover,
.greeting-username:hover,
.nav-item:hover,
.settings-item:hover,
.trending-item:hover{
    scale: 1.09;
    transition: 0.2s;
    cursor: pointer;
}

/**************
* Header Area *
***************/


.header{
    grid-area: header;
    display: grid;
    grid-template: 0.5fr 1fr / 1fr;
    grid-template-areas: 
        "header-top"
        "header-bottom";
    background-color: var(--header-bg-color);
}

.header-top,
.header-bottom{
    border: var(--guide-border);
    padding: 1rem;
}

.profile-icon,
.large-profile-icon{
    object-fit: cover;
    border-radius: 50%;
}


.header-top{
    grid-area: header-top;
    display: grid;
    grid-template: 1fr / 2fr 1fr;
}


.search-bar{
    display: grid;
    grid-template: 1fr / 1fr 20fr;
    gap: 1rem;
    justify-self: start;
    padding-left: 2rem;
}

.search-bar img{
    align-self: center;
    justify-self: end;
}

.search-bar input{
    height: 2rem;
    width: 90%;
    align-self: center;
    border-radius: 10px;
    outline: none;
    border: 0.5px solid rgba(0,0,0,0.2);
    background-color: var(--page-bg-color);
    justify-self: start;
    font-size: large;
    padding-left: 1rem;
}

.notifications{
    display: grid;
    grid-template: 1fr / 0.5fr 0.5fr max-content;
    gap: 5px;
    align-items: center;
    justify-content: end;
    margin-right: clamp(0.5rem, 2rem, 3rem);
}

.notifications .bell-icon{
    height: 2rem;
    justify-self: end;
    /* border-left: 0.5px solid grey; */
    padding-left: 2rem;
}

.notifications .profile-icon{
    background-color: #fff;
    height: 2rem;
    justify-self: center;
    width: 3rem;
    height: 3rem;
}

.notifications .username{
    padding: 0 1rem;
    font-size: var(--profile-fontsize);
    justify-self: center;
    font-weight: 500;
}

.header-bottom{
    grid-area: header-bottom;
    display: grid;
    grid-template: 1fr / 1fr 0.5fr;
    gap: 1.5rem;
}
.greeting-area{
    display: grid;
    grid-template: 1fr/ 0.8fr 3fr;
    gap: 10px;
    justify-self: start;
    padding-left: 2rem;
}

.large-profile-icon{
    width: 3.5rem;
    height: 3.5rem;
    background-color: #fff;
    align-self: center;
    justify-self: start;
}

.greeting{
    align-self: center;
    justify-self: start;
}

.greeting p{
    font-weight: 600;
}

.greeting-text{
    font-size: var(--greeting-fontsize);
}

.greeting-username{
    font-size: var(--greeting-username-fontsize);
}

.button-menu{
   /*  display: grid;
    grid-template: 1fr / repeat(3, auto);
    align-items: center;
    justify-content: end; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: clamp(0.5rem, 2rem, 3rem);;
}

.button-menu button{
    background-color: var(--button-color);
    color: #fff;
    outline: none;
    border: none;
    border-radius: 1rem;
    padding: 0.6rem 1.5rem;
    font-size: medium;
    font-weight: 600;
    min-width: clamp(30px, 100px, 200px)
}

button:hover{
    scale: 1.1;
    transition: 0.1s;
    cursor: pointer;
}



/***********
*  Sidebar *
************/



.sidebar{
    grid-area: sidebar;
    display: grid;
    grid-template: max-content max-content max-content/ 1fr;
    grid-template-areas: 
    "title"
    "nav"
    "settings";
    background-color: var(--sidebar-bg-color);
    padding-left: 2rem;
    padding-top: 2rem;
    gap: 50px;
    align-items: start;
}

.sidebar a:not(.icon-attribute a),
.title-text{
    color: #fff;
    text-decoration: none;
    align-self: center;
    margin-left: 1rem;
    font-weight: 700;
    text-transform: capitalize;
}

.sidebar img{
    filter: invert(100%) saturate(0%) contrast(200%) brightness(200%);
}

.title{
    grid-area: title;
    display: grid;
    grid-template: 1fr / 1fr;
}

.title-item{
    display: grid;
    grid-template: 1fr / 0.5fr 1fr;
    justify-self: start;
    align-self: center;
}

.title img{
    width: 4rem;
    height: 4rem;
    justify-self: end;
}

.title-text{
    font-size: var(--sidebar-title-fontsize);
    font-weight: 600;
}

.nav{
    grid-area: nav;
    align-content: center;
}

.settings{
    grid-area: settings;
    align-content: start;
}

.nav,
.settings{
    display: grid;
    grid-template: repeat(auto-fill, 1fr) /  1fr;
    justify-content: start;
    gap: 1rem;
}

.nav-item,
.settings-item{
    display: flex;
    /* grid-template: 1fr / 1fr 2fr; */
    justify-content: start;
    gap: 1.5rem;
}

.nav img,
.settings img{
    width: 2rem;
    height: 2rem;
    padding-left: 1rem;
    justify-self: center;
}

.icon-attribute,
.icon-attribute a{
    color: #fff;
    font-size: var(--side-bar-items-fontsize);
    text-decoration: none;
    align-self: end;
}



/*************
*  Main Area *
**************/



.main-content{
    grid-area: main;
    display: grid;
    grid-template: 1fr / 3fr 1fr;
    background-color: var(--page-bg-color);
    box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
}

.project-area h2{
    padding: 2rem 0 0 2rem;  
}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    align-content: start;
    padding: 2rem;
}

.project{
    display: grid;
    grid-template: 3fr 1fr / 1fr;
    height: 250px;
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    border-left: var(--project-card-border-color);
    box-shadow: 8px 8px 5px 1px rgba(61, 61, 88, 0.3);
}

.project:hover{
    scale: 1.02;
}

.project p{
    padding-top: 1rem;
    font-size: var(--project-summary-fontsize);
}

.interactions{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.interactable{
    border: none;
    transition: 0.1s;
}

.interactable:hover{
    transition: 0.3s;
    scale: 1.2;
}

.feed{
    display: grid;
    grid-template: max-content max-content / 1fr;
    align-items: start;
    gap: 1rem;
}



/**************
*  Feed Area  *
***************/


.feed{
    background-color: var(--page-bg-color);
    box-shadow: inset -5px 7px 9px -7px rgba(0,0,0,0.4);
}

.feed h2{
    padding: 2rem 1rem 0 0;   
}

.announcements,
.trending{
    height: clamp(250px, 350px, 500px);
    display: grid;
    grid-template: 1fr 8fr / 0.8fr;
    justify-content: center;
    gap: 25px;
}

.announcements-panel,
.trending-panel{
    display: grid;
    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: 10px;  /* Firefox */
    scrollbar-track-color: #393E46;
    background-color: #fff;
    border-radius: 0.8rem;
    padding: 0.8rem;
    box-shadow: 8px 8px 5px 1px rgba(61, 61, 88, 0.3);
    min-width: 200px;
}

.announcements-panel::-webkit-scrollbar,
.trending-panel::-webkit-scrollbar{
    /* display: none; */
  }

  .announcements-panel:-webkit-scrollbar-track {
  }

.announcements-panel{
    grid-template: repeat(auto-fill, 0.33fr) / 1fr;
    gap: 1rem;
}

.announcements-panel div:not(:first-child){
    border-top: 1px solid grey;
}

.announcement{
    padding: 0 1rem;
}

.announcement:hover{
    scale: 1.03;
    transition: 0.2s;
    cursor: pointer;
}

.announcement h5{
    padding-top: 0.8rem;
}

.announcement p{
    font-size: var(--announcement-summary-fontsize);
}

.trending-panel{
    grid-template: repeat(auto-fill, 0.25fr) / 1fr;
    align-items: start;
    gap: 1rem;
}

.trending-item{
    display: grid;
    grid-template: 1fr / 0.5fr 1.5fr;
    gap: 1rem;
}

.trending-item div{
    align-self: center;
}

.trending-item-icon{
    justify-self: end;
}

.trending-item img{
    border-radius: 50%;
    width: 2.8rem;
    height: 2.8rem;
    object-fit: cover;
    background-color: rgb(216, 216, 216);
}

.trending-item p{
    font-size: var(--trending-summary-fontsize);
    color: rgb(49, 49, 49);
    margin-top: 0.2rem;
    margin-left: 0.2rem;
}


/*
A guideline border for organizing the layout
*/

.search-bar,
.notifications,
.greeting,
.button-menu,
.title,
.nav,
.settings,
.article,
.feed,
.summary,
.interactions,
.announcements,
.trending,
.trending-item{
    border: var(--guide-border);
}