:root{
    --header-bc: yellow;
    --sidebar-bc: blue;
    --main-bc: rgb(245, 209, 209);
    --guide-border: 1px solid black;
}

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    margin: 0;
}

.container{
    display: grid;
    grid-template: 1fr 5fr / minmax(250px, 1fr) 4fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar main";
    height: 100%;
}

.search-bar img,
.notifications .bell-icon,
.notifications .profile-icon,
.interactable,
.trending-item img{
    width: 2rem;
    height: 2rem;
}


/**************
* Header Area *
***************/


.header{
    grid-area: header;
    display: grid;
    grid-template: 0.5fr 1fr / 1fr;
    grid-template-areas: 
        "header-top"
        "header-bottom";
    background-color: var(--header-bc);
}

.header-top,
.header-bottom{
    border: var(--guide-border);
    padding: 1rem;
}

.header-top{
    grid-area: header-top;
    display: grid;
    grid-template: 1fr / 2fr 1fr;
}

.header-bottom{
    grid-area: header-bottom;
    display: grid;
    grid-template: 1fr / 1.5fr 1fr;
}

.search-bar{
    display: grid;
    grid-template: 1fr / 1fr 5fr;
    gap: 5px;
}

.search-bar img{
    background-color: aqua;
    align-self: center;
    justify-self: end;
}

.search-bar input{
    height: 2rem;
    width: 90%;
    align-self: center;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: grey;
}

.notifications{
    display: grid;
    grid-template: 1fr / 1fr 1fr 3fr;
    gap: 5px;
    align-items: center;
    justify-items: end;
}

.notifications .bell-icon{
    background-color: aqua;
    height: 2rem;
}

.notifications .profile-icon{
    background-color: #fff;
    height: 2rem;
    justify-self: end;
}

.notifications .username{
    justify-self: center;
    padding: 0 10px;
}

.greeting-area{
    display: grid;
    grid-template: 1fr/ 0.8fr 3fr;
    gap: 10px;
}

.large-profile-icon{
    width: 2.5rem;
    height: 2.5rem;
    background-color: #fff;
    align-self: center;
    justify-self: end;
}

.greeting{
    align-self: center;
    justify-self: start;
}

.button-menu{
    display: grid;
    grid-template: 1fr / repeat(3, auto);
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}



/***********
*  Sidebar *
************/



.sidebar{
    grid-area: sidebar;
    display: grid;
    grid-template: max-content max-content max-content/ 1fr;
    grid-template-areas: 
    "title"
    "nav"
    "settings";
    background-color: var(--sidebar-bc);
    padding-left: 3rem;
    padding-top: 2rem;
    gap: 50px;
    align-items: start;
}

.sidebar a{
    color: #fff;
    text-decoration: none;
    align-self: center;
    margin-left: 1rem;
}

.title{
    grid-area: title;
    display: grid;
    grid-template: 1fr / 1fr;
}

.title-item{
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    justify-self: start;
    align-self: center;
}

.title img{
    width: 4rem;
    height: 4rem;
}

.title-text{
    color: #fff;
    align-self: center;
}

.nav{
    grid-area: nav;
    align-content: center;
}

.settings{
    grid-area: settings;
    align-content: start;
}

.nav,
.settings{
    display: grid;
    grid-template: repeat(auto-fill, 1fr) /  1fr;
    justify-content: start;
    gap: 5px;
}

.nav-item,
.settings-item{
    display: grid;
    grid-template: 1fr / 1fr 1fr;
}

.nav img,
.settings img{
    width: 3rem;
    height: 3rem;
    justify-self: end;
}



/*************
*  Main Area *
**************/



.main-content{
    grid-area: main;
    display: grid;
    grid-template: 1fr / 3fr 1fr;
    background-color: var(--main-bc);
}

.project-area h2{
    padding: 2rem 0 0 2rem;
}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    align-content: start;
    padding: 2rem;
}

.project{
    display: grid;
    grid-template: 3fr 1fr / 1fr;
    height: 250px;
    background-color: #fff;
    padding: 1rem;
}

.interactions{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.interactable{
    background-color: #534242;
}

.feed{
    display: grid;
    grid-template: max-content max-content / 1fr;
    align-items: start;
    gap: 1rem;
}



/**************
*  Feed Area  *
***************/




.feed h2{
    padding: 2rem 1rem 0 0;   
}

.announcements,
.trending{
    height: clamp(250px, 350px, 500px);
    display: grid;
    grid-template: 1fr 8fr / 0.8fr;
    justify-content: center;
    gap: 25px;
}

.announcements-panel,
.trending-panel{
    display: grid;
    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background-color: #fff;
    border-radius: 0.8rem;
    padding: 0.8rem;
}

.announcements-panel::-webkit-scrollbar,
.trending-panel::-webkit-scrollbar{
    display: none;
  }

.announcements-panel{
    grid-template: repeat(auto-fill, 0.33fr) / 1fr;
    gap: 1rem;
}

.announcements-panel div:not(:first-child){
    border-top: 1px solid grey;
}

.announcement h4{
    padding-top: 0.8rem;
}

.trending-panel{
    grid-template: repeat(auto-fill, 0.25fr) / 1fr;
    align-items: start;
    gap: 1rem;
}

.trending-item{
    display: grid;
    grid-template: 1fr / 0.5fr 1.5fr;
    gap: 1rem;
}

.trending-item div{
    align-self: center;
}

/*
A guideline border for organizing the layout
*/
.search-bar,
.notifications,
.greeting,
.button-menu,
.title,
.nav,
.settings,
.article,
.feed,
.summary,
.interactions,
.announcements,
.trending,
.trending-item{
    border: var(--guide-border);
}